.footer {
  background-color: #0f172a;
  text-align: center;
  padding: 20px;
  color: white;
}

.footer p {
  margin: 0;
  font-size: .9rem;
}

.footer p a {
  color: #38bdf8;
  text-decoration: none;
}

.footer p a:hover {
  text-decoration: underline;
}
