@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.app-container {
  overflow-x: hidden;
}
